<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <% if (dayno === 0 || dayno === 6) { %>
        <span style="color: green;">It's <%= daytype%>, <h1><%= daywork %></h1></span>
    <% } else { %>
        <span style="color: red;">It's <%= daytype%>, <h1><%= daywork %></h1></span>
    <% } %>
    <%= dystr %>
</body>
</html>